:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  padding: calc(90px + 0.25em) 5% 1rem 5%;
  background-color: #0b202f;
  color: #fff;
  font-family: alice;
  font-size: large;


  h2 {
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.5;
  }

  .header {
    display: flex;

    .image-container {
      width: 191px;
      height: 264px;
      margin-right: 1.5rem;
      margin-bottom: 1rem;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-shrink: 0.5;

      img {
        width: 100%;
      }
    }
  }
  .pitch {
    margin-bottom: 10px;
  }

}