:host {
    padding: 1rem 5% 0;
    button {
        display: flex;
        align-items: center;
        padding-inline: 0;
        gap: 0.5rem;
        border: none;
        background-color: transparent;
        color: #fff;
        font-family: alice;

        img {
            width: 25px;
            height: 25px;
        }

        span {
            font-size: 1.1rem;
        }
    }
}